NODE_ENV=production
PORT=5000
MONGO_URI=mongodb+srv://user:pass@cluster.mongodb.net/dbname
JWT_SECRET=YOUR_SECURE_32_CHAR_SECRET_KEY
ADMIN_EMAIL=studio56.pk@gmail.com
ADMIN_PASSWORD=change_this_password
FRONTEND_URL=https://smartearning.vercel.app